{% extends "pages/base-home.html" %}
{% load static %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center" style="background-color: black; background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; height:300px">

        <div class="row mt-5">
            <div class="col mt-3" >
                <h2 class="text-center">I would love to hear from you!</h2>
                <p class="text-center">Please check reach out via my email and socials below.</p>
            </div>
        </div>
    </div>






{% endblock %}