{% extends "pages/base-home.html" %}
{% load static %}
{% block title %}
    About
{% endblock %}
{% block body %}
        <div class="container ps-5 pe-5 p-3" style="background-color: black">
        <div class="row pt-5 m-2 d-flex justify-content-center" >
            <div class="col">
                <img src="{% static 'images/pisces_gang_text copy.jpg'%}" style="width: 100%;" class="center">
            </div>
        </div>
    <div class="row pt-5 m-2 d-flex justify-content-center" >
            <div class="col">
                <img src="{% static 'images/pisces_gang(wtrmark) copy.jpg'%}" style="width: 100%;" class="center">
            </div>
        </div>

    <div class="row pt-5 m-2 d-flex justify-content-center" >
            <div class="col">
                <img src="{% static 'images/pisces_gang_add 2.jpg'%}" style="width: 100%;" class="center">
            </div>
        </div>

    </div>
    <div class="container ps-5 pe-5 p-3" style="background-color: black">

    <div class="row pt-5 mb-5">
            <div class="col-lg-6 justify-content-lg-center">
                <h1 id="base-title" style="font-size: 400%">Astrology Merch</h1>
            </div>
            <div class="col-lg-6 justify-content-center">
                <p style="font-size: 150%;">This line of merchandise I was tasked with coming up with was reflective of all 12 astrological signs on the calendar. I came up with 12 designs in total but in this example I will showcase the pisces design. <a target="_blank"id="insta-link" href="https://instagram.com/_masterju">See more on my instagram!</a></p>
            </div>
        </div>
     <div class="row mb-5 black">
            <div class="col">
                <h1>Skills Used</h1>
                <p class="gallery-item-text">Photoshop, Procreate, Illustration, Indesign</p>
            </div>
        </div>
        <div class="row mb-5 black">
            <div class="col">
                <h1>Design</h1>
                <p class="gallery-item-text">For the design of this particular collection, I wanted to utilize colors and themes that were intrinsic to the pisces. I also wanted to play around with the imagery to give unique personalities to the characters that are usually associated with the corresponding astrological sign.</p>
            </div>
        </div>

        <div class="row mb-5 black">
            <div class="col">
                <h1 >Process</h1>
                <p class="gallery-item-text">During creation, I did a good amount of research into each astrological sign, the pisces in this case. I wanted to make sure my target audience, who were knowledgeable about their sign, could draw parallels to their characteristics and some of the ones that I incorporated into the design. This also required research into color, as I tried to keep the color palettes related to the common favorite colors of people who fall under the given sign.</p>
            </div>
        </div>

        <div class="row black">
            <div class="col">
                <h1>Outcome(s)</h1>
                <p class="gallery-item-text">The outcomes related to this project include firstly, an improvement in my illustrative skills because I had to draw 12 different characters, which allowed me to practice the technical aspect of digital art. Additionally, the conceptualization aspect of each character gave me practice regarding how to convey certain motifs and meanings through an art piece or design.</p>
            </div>
        </div>
    </div>
{% endblock %}