{% extends "pages/base-home.html" %}
{% load static %}
{% block title %}
    About
{% endblock %}
{% block body %}
    <div class="container ps-5 pe-5 p-3" style="background-color: black">
        <div class="row m-2 pt-5 d-flex justify-content-center" >
            <div class="col">
                <img src="{% static 'images/AdSquare copy lowres.jpg'%}" style="width: 100%;" class="center">
            </div>
        </div>
        <div class="row m-2 pt-5 d-flex justify-content-center" >
            <div class="col">
                <img src="{% static 'images/whitney fin .jpg'%}" style="width: 100%;" class="center">
            </div>
        </div>

        <div class="row m-2 pt-5 d-flex justify-content-center" >
            <div class="col">
                <img src="{% static 'images/sariyah fin.jpg'%}" style="width: 100%;" class="center">
            </div>
        </div>

    </div>
    <div class="container ps-5 pe-5 p-3" style="background-color: black">
        <div class="row pt-5">
            <div class="col-lg-6 justify-content-lg-center">
                <h1 id="base-title" style="font-size: 400%">Graduation Caps</h1>
            </div>
            <div class="col-lg-6 justify-content-center">
                <p style="font-size: 150%">I decided to customize graduation caps for some of my peers during high school. I learned more about design and business during this process more than anything, however it was still fun and helped me gain exposure, which were the initial goals.</p>
            </div>
        </div>
    </div>
    <div class=" mt-5 container ">
        <div class="row m-5 p-5 black">
            <div class="col">
                <h1>Skills Used</h1>
                <p class="gallery-item-text">Photoshop, Illustrator, Procreate</p>
            </div>
        </div>
        <div class="row m-5 p-5 black">
            <div class="col">
                <h1>Design</h1>
                <p class="gallery-item-text">With each design, the main objective was to accomplish what it was the client wanted. However, it was also imperative to do this in a way where the client would feel it was unique and worth the money, so that word would spread effectively and others would see the value in getting a cap done by myself as opposed to just doing it themselves.</p>
            </div>
        </div>

        <div class="row m-5 p-5 black">
            <div class="col">
                <h1 >Process</h1>
                <p class="gallery-item-text">Typically, I would post advertisements on my instagram as well as try to advertise via word of mouth. Once I accrued clients, I would take their ideas and turn them into proper designs for their caps. Streamlining this process and being constrained to the square cap was a challenge at first, but with experience came progress and success.</p>
            </div>
        </div>

        <div class="row m-5 p-5 black">
            <div class="col">
                <h1>Outcome(s)</h1>
                <p class="gallery-item-text">Starting with an initial 2-3 customers, I began branching out and accruing more clients each year because of the incremental improvement of my marketing knowledge. In addition, I gained more confidence in myself as well as motivation to pursue other creative ventures. Lastly, it gave me more experience with bringing other people's ideas to life using my own creativity. </p>
            </div>
        </div>

    </div>
{% endblock %}