{% extends "pages/base-home.html" %}
{% load static %}
{% block title %}
    About
{% endblock %}
{% block body %}
     <div class="container ps-5 pe-5 p-3" style="background-color: black">
        <div class="row m-2 pt-5 d-flex justify-content-center" >
            <div class="col">
                <img src="{% static 'images/TopWavers.jpg'%}" style="width: 100%;" class="center">
            </div>
        </div>
        <div class="row m-2 pt-5 d-flex justify-content-center" >
            <div class="col">
                <img src="{% static 'images/TopWavers final.jpg'%}" style="width: 100%;" class="center">
            </div>
        </div>

        <div class="row m-2 pt-5 d-flex justify-content-center" >
            <div class="col">
                <img src="{% static 'images/@whirl_pool_ken lowres.jpg'%}" style="width: 100%;" class="center">
            </div>
        </div>

    </div>
    <div class="container ps-5 pe-5 p-3" style="background-color: black">

        <div class="row m-5 p-5 black">
            <div class="col">
                <h1>Design</h1>
                <p class="gallery-item-text">The main objective with this design project was to make something that incorporated their logo and was cohesive with the very iconic and pre-established theme their page featured. In addition, I wanted to make something that was easily editable for the client, so they could input their new pictures and information into the template quickly and interchangeably. Lastly, it had to be stylish and sport trendy themes from the generation to add an allure to help attract the target audience.</p>
            </div>
        </div>

        <div class="row m-5 p-5 black">
            <div class="col">
                <h1 >Process</h1>
                <p class="gallery-item-text">Considering the objectives set in my previous section. My main aim was to come up with a color palette which was cohesive as well as a trendy design. Given, that I was a member of the target audience/generation, market research was easily conducted using me and my peers to gauge the attractiveness of the template I was creating. I went through a few iterations with the client, which was slightly challenging. This I have learned is an integral and rarely skipped facet of the design process. Dealing with this in my early stages of design however, taught me how to conduct myself and make proper adjustments fueled by both critique and my own design knowledge.</p>
            </div>
        </div>

        <div class="row m-5 p-5 black">
            <div class="col">
                <h1>Outcome(s)</h1>
                <p class="gallery-item-text">After a few iterations, the clients were quite happy. In addition, they commissioned me to do artwork for them later on. My template was used for a while with them, and I helped create many personalized templates for each of their new inductees.</p>
            </div>
        </div>
    </div>
{% endblock %}